.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact__option {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 1.2rem;
  border-radius: 1.2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}
.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* ==========form=================== */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}

/* send msg button style */
#send_msg{
  width:25%;
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.5em 0.8em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

#send_msg span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

#send_msg svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

#send_msg:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

#send_msg:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

#send_msg:hover span {
  transform: translateX(5em);
}

#send_msg:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


/* ======media queries for tablets(medium devices) =========*/

@media screen and (max-width: 1024px) {
  .contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* ======media queries for mobile(small devices) =========*/

@media screen and (max-width: 600px) {
  .contact__container {
    width: var(--container-width-sm);
  }
}
